We wondered if females biked less at night then men did. We know females bike less than males on average (graph), but want to see if even controlling for differnces in overall biking population size females were less likely to ride at night.

<br>
Fn : Female night
<br>
Fd : Female day
<br>
Fa : Female overall (Fn+Fd)
<br>
Mn : Male night
<br>
Md : Male day
<br>
Ma : Male overall (Mn+Md)

<br> 
Null Hypothesis : Fn/Fa = Mn/Ma or Fn/Fa > Mn/Ma
<br> 
Alternative Hypothesis: Fn/Fa < Mn/Ma


Where data is coming from: 

Months Used:

In [7]:
from __future__ import print_function, division

import numpy as np
import pandas as pd
import statsmodels as st
import os
import matplotlib as plt
import statsmodels.formula.api as smf
from pandas import DataFrame
from datetime import datetime
from time import time

%pylab inline

Populating the interactive namespace from numpy and matplotlib

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/IPython/core/magics/pylab.py:161: UserWarning: pylab import has clobbered these variables: ['plt', 'datetime']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

In [3]:
! wget https://s3.amazonaws.com/tripdata/JC-201701-citibike-tripdata.csv.zip
! wget https://s3.amazonaws.com/tripdata/JC-201702-citibike-tripdata.csv.zip
! wget https://s3.amazonaws.com/tripdata/JC-201703-citibike-tripdata.csv.zip
! wget https://s3.amazonaws.com/tripdata/JC-201704-citibike-tripdata.csv.zip
! wget https://s3.amazonaws.com/tripdata/JC-201705-citibike-tripdata.csv.zip
! wget https://s3.amazonaws.com/tripdata/JC-201706-citibike-tripdata.csv.zip
! wget https://s3.amazonaws.com/tripdata/JC-201707-citibike-tripdata.csv.zip
! wget https://s3.amazonaws.com/tripdata/JC-201708-citibike-tripdata.csv.zip
! wget https://s3.amazonaws.com/tripdata/JC-201709-citibike-tripdata.csv.zip

--2017-11-05 12:33:00--  https://s3.amazonaws.com/tripdata/JC-201701-citibike-tripdata.csv.zip
Resolving s3.amazonaws.com... 52.216.224.227
Connecting to s3.amazonaws.com|52.216.224.227|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 260769 (255K) [application/zip]
Saving to: “JC-201701-citibike-tripdata.csv.zip”

100%[======================================>] 260,769     --.-K/s   in 0.1s

2017-11-05 12:33:01 (2.51 MB/s) - “JC-201701-citibike-tripdata.csv.zip” saved [260769/260769]

--2017-11-05 12:33:01--  https://s3.amazonaws.com/tripdata/JC-201702-citibike-tripdata.csv.zip
Resolving s3.amazonaws.com... 54.231.72.10
Connecting to s3.amazonaws.com|54.231.72.10|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 281945 (275K) [application/zip]
Saving to: “JC-201702-citibike-tripdata.csv.zip”

100%[======================================>] 281,945     --.-K/s   in 0.1s

2017-11-05 12:33:01 (2.43 MB/s) - “JC-201702-citibike-tripdata.csv.zip” saved [281945/281945]

--2017-11-05 12:33:01--  https://s3.amazonaws.com/tripdata/JC-201703-citibike-tripdata.csv.zip
Resolving s3.amazonaws.com... 54.231.72.10
Connecting to s3.amazonaws.com|54.231.72.10|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 246627 (241K) [application/zip]
Saving to: “JC-201703-citibike-tripdata.csv.zip”

100%[======================================>] 246,627     --.-K/s   in 0.05s

2017-11-05 12:33:01 (4.40 MB/s) - “JC-201703-citibike-tripdata.csv.zip” saved [246627/246627]

--2017-11-05 12:33:01--  https://s3.amazonaws.com/tripdata/JC-201704-citibike-tripdata.csv.zip
Resolving s3.amazonaws.com... 54.231.72.10
Connecting to s3.amazonaws.com|54.231.72.10|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 442528 (432K) [binary/octet-stream]
Saving to: “JC-201704-citibike-tripdata.csv.zip”

100%[======================================>] 442,528     2.14M/s   in 0.2s

2017-11-05 12:33:02 (2.14 MB/s) - “JC-201704-citibike-tripdata.csv.zip” saved [442528/442528]

--2017-11-05 12:33:02--  https://s3.amazonaws.com/tripdata/JC-201705-citibike-tripdata.csv.zip
Resolving s3.amazonaws.com... 54.231.72.10
Connecting to s3.amazonaws.com|54.231.72.10|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 541466 (529K) [binary/octet-stream]
Saving to: “JC-201705-citibike-tripdata.csv.zip”

100%[======================================>] 541,466     --.-K/s   in 0.08s

2017-11-05 12:33:02 (6.87 MB/s) - “JC-201705-citibike-tripdata.csv.zip” saved [541466/541466]

--2017-11-05 12:33:02--  https://s3.amazonaws.com/tripdata/JC-201706-citibike-tripdata.csv.zip
Resolving s3.amazonaws.com... 54.231.72.10
Connecting to s3.amazonaws.com|54.231.72.10|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 662240 (647K) [binary/octet-stream]
Saving to: “JC-201706-citibike-tripdata.csv.zip”

100%[======================================>] 662,240     --.-K/s   in 0.08s

2017-11-05 12:33:02 (8.26 MB/s) - “JC-201706-citibike-tripdata.csv.zip” saved [662240/662240]

--2017-11-05 12:33:03--  https://s3.amazonaws.com/tripdata/JC-201707-citibike-tripdata.csv.zip
Resolving s3.amazonaws.com... 54.231.72.10
Connecting to s3.amazonaws.com|54.231.72.10|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 692715 (676K) [binary/octet-stream]
Saving to: “JC-201707-citibike-tripdata.csv.zip”

100%[======================================>] 692,715     --.-K/s   in 0.07s

2017-11-05 12:33:03 (9.00 MB/s) - “JC-201707-citibike-tripdata.csv.zip” saved [692715/692715]

--2017-11-05 12:33:03--  https://s3.amazonaws.com/tripdata/JC-201708-citibike-tripdata.csv.zip
Resolving s3.amazonaws.com... 54.231.72.10
Connecting to s3.amazonaws.com|54.231.72.10|:443... connected.
HTTP request sent, awaiting response... 404 Not Found
2017-11-05 12:33:03 ERROR 404: Not Found.

--2017-11-05 12:33:03--  https://s3.amazonaws.com/tripdata/JC-201709-citibike-tripdata.csv.zip
Resolving s3.amazonaws.com... 54.231.72.10
Connecting to s3.amazonaws.com|54.231.72.10|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 683286 (667K) [application/zip]
Saving to: “JC-201709-citibike-tripdata.csv.zip”

100%[======================================>] 683,286     --.-K/s   in 0.08s

2017-11-05 12:33:03 (8.45 MB/s) - “JC-201709-citibike-tripdata.csv.zip” saved [683286/683286]

In [8]:
cmd = "mv JC-201701-citibike-tripdata.csv.zip " + os.getenv("PUIDATA")

os.system(cmd)

0

In [9]:
cmd2 = "mv JC-201702-citibike-tripdata.csv.zip " + os.getenv("PUIDATA")
cmd3 = "mv JC-201703-citibike-tripdata.csv.zip " + os.getenv("PUIDATA")
cmd4 = "mv JC-201704-citibike-tripdata.csv.zip " + os.getenv("PUIDATA")
cmd5 = "mv JC-201705-citibike-tripdata.csv.zip " + os.getenv("PUIDATA")
cmd6 = "mv JC-201706-citibike-tripdata.csv.zip " + os.getenv("PUIDATA")
cmd7 = "mv JC-201707-citibike-tripdata.csv.zip " + os.getenv("PUIDATA")
#cmd8 = "mv JC-201708-citibike-tripdata.csv.zip " + os.getenv("PUIDATA")
cmd9 = "mv JC-201709-citibike-tripdata.csv.zip " + os.getenv("PUIDATA")

os.system(cmd2)
os.system(cmd3)
os.system(cmd4)
os.system(cmd5)
os.system(cmd6)
os.system(cmd7)
#os.system(cmd8)
os.system(cmd9)

0

In [21]:
'''cannot use august because of error in filename on website, it has a space that is not being able to be worked with'''


! wget https://s3.amazonaws.com/tripdata/JC-201708%20citibike-tripdata.csv.zip
cmd8 = "mv JC-201708-citibike-tripdata.csv.zip " + os.getenv("PUIDATA")

--2017-11-05 12:47:31--  https://s3.amazonaws.com/tripdata/JC-201708%20citibike-tripdata.csv.zip
Resolving s3.amazonaws.com... 52.216.229.45
Connecting to s3.amazonaws.com|52.216.229.45|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 727994 (711K) [application/zip]
Saving to: “JC-201708 citibike-tripdata.csv.zip”

100%[======================================>] 727,994     --.-K/s   in 0.07s

2017-11-05 12:47:31 (9.68 MB/s) - “JC-201708 citibike-tripdata.csv.zip” saved [727994/727994]

In [17]:
#https://stackoverflow.com/questions/31346790/unzip-all-zipped-files-in-a-folder-to-that-same-folder-using-python-2-7-5
import os, zipfile

dir_name = os.getenv("PUIDATA")
extension = ".zip"

os.chdir(dir_name) # change directory from working dir to dir with files

for item in os.listdir(dir_name): # loop through items in dir
    if item.endswith(extension): # check for ".zip" extension
        file_name = os.path.abspath(item) # get full path of files
        zip_ref = zipfile.ZipFile(file_name) # create zipfile object
        zip_ref.extractall(dir_name) # extract file to dir
        zip_ref.close() # close file
        os.remove(file_name) # delete zipped file

In [31]:
jan = pd.read_csv( os.getenv("PUIDATA") + "/JC-201701-citibike-tripdata.csv")
feb = pd.read_csv( os.getenv("PUIDATA") + "/JC-201702-citibike-tripdata.csv")
march = pd.read_csv( os.getenv("PUIDATA") + "/JC-201703-citibike-tripdata.csv")
april = pd.read_csv( os.getenv("PUIDATA") + "/JC-201704-citibike-tripdata.csv")
may = pd.read_csv( os.getenv("PUIDATA") + "/JC-201705-citibike-tripdata.csv")
june = pd.read_csv( os.getenv("PUIDATA") + "/JC-201706-citibike-tripdata.csv")
july = pd.read_csv( os.getenv("PUIDATA") + "/JC-201707-citibike-tripdata.csv")
#aug = pd.read_csv( os.getenv("PUIDATA") + "/JC-201708-citibike-tripdata.csv")
sep = pd.read_csv( os.getenv("PUIDATA") + "/JC-201709-citibike-tripdata.csv")

33119

In [51]:
for i in months:
    i['a','b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', axis = 1]

Index([u'a', u'starttime', u'stoptime', u'b', u'c', u'd', u'e', u'f', u'g',
       u'h', u'i', u'j', u'k', u'l', u'Gender'],
      dtype='object')

In [52]:
months = [jan, feb, march, april, may, june, july, sep]

dropp= ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l']

for i in months:
    i.drop(dropp, inplace = True, axis = 1)

In [55]:
allmonths = pd.concat(months)

In [56]:
allmonths

                 starttime             stoptime  Gender
0      2017-01-01 00:21:32  2017-01-01 00:24:01       1
1      2017-01-01 00:24:35  2017-01-01 00:45:58       1
2      2017-01-01 00:38:19  2017-01-01 00:44:31       1
3      2017-01-01 00:38:37  2017-01-01 01:03:50       1
4      2017-01-01 01:47:52  2017-01-01 01:58:31       1
5      2017-01-01 01:56:29  2017-01-01 02:00:48       1
6      2017-01-01 02:12:34  2017-01-01 02:23:38       1
7      2017-01-01 02:15:52  2017-01-01 02:25:20       1
8      2017-01-01 02:16:03  2017-01-01 02:25:15       2
9      2017-01-01 02:22:17  2017-01-01 02:31:50       1
10     2017-01-01 02:22:59  2017-01-01 02:31:55       2
11     2017-01-01 02:23:53  2017-01-01 02:27:37       2
12     2017-01-01 02:33:12  2017-01-01 03:01:31       1
13     2017-01-01 02:37:31  2017-01-01 02:43:22       2
14     2017-01-01 03:09:09  2017-01-01 03:14:56       1
15     2017-01-01 03:16:35  2017-01-01 03:22:42       1
16     2017-01-01 03:24:02  2017-01-01 03:26:30       1
17     2017-01-01 03:52:29  2017-01-01 03:55:53       1
18     2017-01-01 04:35:14  2017-01-01 13:57:20       0
19     2017-01-01 04:35:36  2017-01-01 04:45:27       0
20     2017-01-01 05:17:42  2017-01-01 05:25:16       2
21     2017-01-01 05:25:35  2017-01-01 05:29:13       1
22     2017-01-01 06:29:15  2017-01-01 06:31:03       1
23     2017-01-01 07:08:01  2017-01-01 07:15:34       1
24     2017-01-01 07:12:53  2017-01-01 07:20:20       1
25     2017-01-01 07:38:57  2017-01-01 07:51:08       1
26     2017-01-01 07:55:19  2017-01-01 08:02:35       1
27     2017-01-01 08:16:36  2017-01-01 08:24:15       1
28     2017-01-01 08:24:36  2017-01-01 08:28:54       1
29     2017-01-01 08:56:28  2017-01-01 09:05:26       1
...                    ...                  ...     ...
33089  2017-09-30 22:04:20  2017-09-30 22:10:11       1
33090  2017-09-30 22:07:45  2017-09-30 22:14:46       1
33091  2017-09-30 22:08:27  2017-09-30 22:13:20       1
33092  2017-09-30 22:10:10  2017-09-30 22:20:27       1
33093  2017-09-30 22:10:59  2017-09-30 22:15:33       1
33094  2017-09-30 22:11:39  2017-09-30 22:15:46       2
33095  2017-09-30 22:11:56  2017-09-30 22:16:49       1
33096  2017-09-30 22:11:56  2017-09-30 22:13:58       1
33097  2017-09-30 22:13:38  2017-09-30 22:17:49       1
33098  2017-09-30 22:19:42  2017-09-30 22:25:52       1
33099  2017-09-30 22:34:11  2017-09-30 22:47:56       1
33100  2017-09-30 22:34:48  2017-09-30 22:35:51       1
33101  2017-09-30 22:41:24  2017-09-30 22:45:41       1
33102  2017-09-30 22:43:11  2017-09-30 22:45:43       2
33103  2017-09-30 22:48:45  2017-09-30 22:53:52       1
33104  2017-09-30 22:51:21  2017-09-30 22:57:29       1
33105  2017-09-30 22:51:22  2017-09-30 22:57:29       2
33106  2017-09-30 22:53:47  2017-09-30 22:57:02       1
33107  2017-09-30 22:58:55  2017-09-30 23:03:30       1
33108  2017-09-30 23:09:34  2017-09-30 23:16:59       1
33109  2017-09-30 23:18:13  2017-09-30 23:21:39       1
33110  2017-09-30 23:19:58  2017-09-30 23:21:48       1
33111  2017-09-30 23:23:14  2017-09-30 23:27:21       1
33112  2017-09-30 23:23:40  2017-09-30 23:36:07       1
33113  2017-09-30 23:28:48  2017-09-30 23:34:07       2
33114  2017-09-30 23:29:08  2017-09-30 23:34:48       1
33115  2017-09-30 23:35:26  2017-09-30 23:40:13       1
33116  2017-09-30 23:41:34  2017-09-30 23:44:25       1
33117  2017-09-30 23:47:53  2017-09-30 23:52:42       1
33118  2017-09-30 23:47:53  2017-09-30 23:52:51       1

[185057 rows x 3 columns]

In [63]:
allmonths['time']= allmonths['starttime'].apply(lambda x : pd.to_datetime(x).time())

In [64]:
nightstart = dt.datetime.strptime('19:00:00', '%H:%M:%S').time()
#7pm
nightend = dt.datetime.strptime('05:00:00', '%H:%M:%S').time()
#5am

In [65]:
def time_checker(t):
    if t > nightstart:
        return 'Night Rider'
    if t < nightend:
        return 'Night Rider'
    else:
        return 'Day Rider'

In [67]:
allmonths['typeofrider'] = allmonths['time'].apply(lambda x: time_checker(x))

In [69]:
#https://stackoverflow.com/questions/17679089/pandas-dataframe-groupby-two-columns-and-get-counts
#may be used in future sections

allmonths['COUNTER'] =1       #initially, set that counter to 1.
group_data = allmonths.groupby(['Gender','typeofrider'])['COUNTER'].sum() #sum function
print(group_data)

Gender  typeofrider
0       Day Rider       11403
        Night Rider      2854
1       Day Rider      103786
        Night Rider     28902
2       Day Rider       30388
        Night Rider      7724
Name: COUNTER, dtype: int64

In [70]:
 m= pd.value_counts(allmonths['Gender'])
m.head()

1    132688
2     38112
0     14257
Name: Gender, dtype: int64

In [71]:
(7724/38112)
#women night

0.2026658270361041

In [72]:
(28902/132688)
#men night
#is it statistically significant??

0.2178192451465091